<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <casestudy>
            <general>
                <greeting_text>Hello, welcome to our store!</greeting_text>
            </general>
        </casestudy>
    </default>
</config>